* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}

.corpo {
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "titulo-secao"
    "secao-quadros"
    "rodape"
    ;
    grid-template-rows: 320px 200px 140vh 100px; 
    grid-template-columns: auto;
}

main {
    margin: 0 230px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;;
    top: 15%;
    right: 10%;
}

.alura {
    margin-right: 400px;
}

.titulo-header {
    color: white;
    position: relative;
    top: 120px;
    right: 22%;
    font-size: 72px;
    user-select: none;
    cursor: pointer;
    height: 100px;
    display: flex;
    justify-content: center;
}

.secao-nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 2s;
}

.secao-nav a:hover {
    text-decoration: underline;
    transform: 2s;
}

.cabecalho {
    background-image: url(./img/Fundo.png);
    background-repeat: no-repeat;
    background-position: left;
    grid-area: cabecalho;
}

.titulo-secao {
    grid-area: titulo-secao;
    padding-top: 65px;
    padding-left: 250px;
    font-size: 34px;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 25px;
}

.secao-quadros   {
    grid-area: secao-quadros;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 340px 360px 340px;
    height: 100vh;
    gap: 10px;
}

.quadros {
    display: flex;
    justify-content: center;
    text-align: center;
}

.quadro-imagem {
    cursor: pointer;
}

.obra-titulo {
    border: 1px dotted black;
    padding: 10px;
    user-select: none;
}

.obra-autor {
    font-weight: bold;
}

.js {
    margin-top: 7px;
}

.an {
    margin-top: 16px;
}

.bo {
    margin-top: 18px;
    border: 1px dotted black;
    padding: 1px;
}

.quadro-html {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.quadro-css {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.quadro-js {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.quadro-react {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.quadro-angular {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.quadro-bs {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.quadro-vue {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.quadro-svelte {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.quadro-tail {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.rodape {
    grid-area: rodape;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #000941;
    color: white;
}

@media (min-width: 1550px) {

    .corpo {
        display: grid;
        grid-template-areas: 
        "cabecalho"
        "titulo-secao"
        "secao-quadros"
        "rodape"
        ;
        grid-template-rows: 290px 200px 116vh 100px;
    }    

    .titulo-header {
        position: relative;
        top: 120px;
        right: 17.6%;
        font-size: 64px;
        user-select: none;
        cursor: pointer;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .cabecalho {
        background-position: center;
    }

    .titulo-secao {
        grid-area: titulo-secao;
        margin-left: 635px;
        padding-top: 65px;
        padding-left: 0px;
        font-size: 34px;
        font-weight: bold;
        text-decoration: underline 3px;
        text-underline-offset: 25px;
    }
    
    main {
        margin: 0 685px;
    }

    .secao-quadros   {
        gap: 0;
    }

    .secao-nav {
    position: relative;
    left: 5%;
    }

}